{% extends "browse/base.html" %}
{% load static %}
{% load custom_tags %}
{% block sidebar %}
<nav id="sidebar">
	<div class="metadata">
		<section>
			<p>Download(s)<p>	
			<ul class="download-list">
				{% for f in files %}
				<li><a href="{{f.content.url}}" download updated=""><span class="prefix"></span>{{f.name}}.{{f.type}}</a></li>	
				{% endfor %}			
			</ul>
		</section>
		
		<section>
			<p>Participant(s)</p>
			<ul>
				{% for p in object.session.participants.all %}
				<li><a href="{% url 'search:results' %}?participants={{ p.tier}}">{{p.name}}</a></li>
				{% endfor %}
			</ul>							
		</section>
				
		<section>
			<p>Speaker(s)</p>	
			<ul>				
				{% for p in object.session.speakers.all %}
				<li><a href="{% url 'search:results' %}?speakers={{ p.tier}}">{{p.name}}</a></li>
				{% endfor %}
			</ul>										
		</section>					
				
		<section>
			<p>Recording date</p>
			<ul>
				<li>{{ object.session.date }}</li>
			</ul>						
		</section>			
	</div>
</nav>
{% endblock %}
{%block title%} {% endblock %}
{%block content%}
    
    <!-- Example page for text -->
        <h2>{{ object.name }}.{{ object.type }}	</h2>
		<h4 class="strong"><a href="{% url 'browse:collection' collection=object.session.collection.name %}"> 
			{{  object.session.collection.title }}</a>: 
			<a href="{% url 'browse:session' collection=object.session.collection.name session=object.session.name %}"> 
				{{ object.session.title }} </a></h4>
		
		{% if object.type == 'pdf' or object.type == 'docx' %}

		<iframe
		src="{% static 'web/viewer.html' %}?file={{ object.content.url }}"
		width="100%"
		height="100%"
		style="border: none;"
	/></iframe>
		{% endif %}

		{% if object.type|is_audio_file or object.type|is_video_file %}
			<div class="av-item">

				{% if object.type|is_audio_file %}
				<audio controls="" preload="none"><source src=""></audio>
				{% endif %}

				{% if object.type|is_video_file %}
				<video controls preload="none" width="640" height="360">
					<source src="{% url 'browse:media' collection=object.session.collection.name session=object.session fileid=object.id %}"
					type="video/mp4">
					Your browser does not support video display.
				</video>
			</div>
				{% endif %}
		{% endif %}

		{% if object.type == 'eaf' %}
		<div class="av-item">

			{% if object.video.type|is_audio_file %}
			<audio controls="" preload="none"><source src="{{ object.video.content.url }}"></audio>
			{% endif %}

			{% if object.video.type|is_video_file %}
			<video controls preload="none" width="640" height="360">
				<source src="{% url 'browse:media' collection=object.session.collection.name session=object.session fileid=object.video.id %}"
				type="video/mp4">
				Your browser does not support video display.
			
			</video>
			{% endif %}

		</div>

		<div>

				<h4>Transcription</h4>
				<script type="text/javascript">
            
		var idlist = Array();
		var timelist_starts = Array();
		var timelist_ends = Array();
            
		
                    			idlist.push("S1");
                				timelist_starts.push(0);
                				timelist_ends.push(9900);
            				
                    			idlist.push("S2");
                				timelist_starts.push(9900);
                				timelist_ends.push(18500);
            				
                    			idlist.push("S3");
                				timelist_starts.push(18500);
                				timelist_ends.push(26190);
            				
            				</script>
                <div id="frame_karaoke" style="resize: vertical; height: 480px; overflow: auto;">
                    <table class="it table">
                        <tbody><tr class="transcriptTable">
							{% for ann in obj.srs_text %}
                            <td class="segmentInfo">S1</td>
                            <td class="segmentContent" id="S1">
                                <div><a href="javascript:playFrom('S1')"><img src="https://cocoon.huma-num.fr/exist/crdo/img/play.gif" alt="listen"></a></div>
                                <div class="translation"> {{ ann.annotation }} </div><a></a>
                                <div class="translation"> English translation,</div><a></a></td>
							{% endfor %}
                        </tr>
                    	</tbody>
					</table>
                </div>
			</div>
                <script type="text/javascript">
                            $('#frame_karaoke').mousedown(function(e){
                              clickedOnScrollbar(e.clientX);
                            });
                        	$('.imagemapster').mapster({
                                fillColor: 'F09415',
                                fillOpacity: 0.3
                            });
                            window.onresize = function() {
                                $('.imagemapster').mapster('resize',$('#imgdiv').width(),0,1);
                            };
                            $('.imagemapster').mapster('resize',800,0,1);
                        </script>
		{% endif %}
						
	{% endblock %}

					</body>
					<script src='/lib/webviewer.min.js'></script>
