{% extends "browse/base.html" %}
{% block title %}{{ object_list.0.title }}{% endblock %}
{%block content%}
<div class="content" id="wrappedcontent">
		<p>	{{ object_list.0.synopsis }} </p>
	<div>
		<h3>Material</h3>
			<div id="loaded_av">
				{% for object in object_list %}
				<div class="border-solid" id="av0">
				<h3> {{ object.title }} </h3>
				<h4>Collection: <a href="{% url 'browse:collection' collection=object.collection %}"> {{ object.collection.title}} </a></h4>
				<h4></h4>
				<div class="av-item">
				<audio controls="" preload="none"><source src=""></audio>
				<a href="{% url 'browse:detail' collection=object.collection session=object.session filename=object.filename %}">See transcription</a>
				</div>
				</div>
				{% endfor %}
	</div>
	</div>
	{% endblock %}
</div>
</div>
</body>

	<script>
		function toggleAdvancedOptions() {
		  var advancedOptions = document.getElementById('advanced-options');
		  advancedOptions.style.display = (advancedOptions.style.display === 'none') ? 'block' : 'none';
		}
	</script>
</html>
