{% extends "browse/base.html" %}

{% block title %}Browse By:{% endblock %}

{% block content %}
	<div class="container" id="wrappedcontainer">
		<div class="div1" id="wrapped">
		<h3> Collection </h3>
			<ul class="list-unstyled components">
				{% for object in object_list %}
				<li><button type="button" onclick="toggleAdvancedOptions()" class="toggle-button"> {{ object.title }} </button>
					<li id="advanced-options">	{{object.synopsis}}	</li>
					<li id="advanced-options"><a href="{% url 'browse:collection' object.name %}"><span class="fa fa-chevron-right mr-2"></span> Go to collection </a></li>
					{% endfor %}
			</ul>
		</div>
		<div class="space"></div>
		<div class="div2" id="wrapped">
		<h3> Speaker </h3>
			<ul class="list-unstyled components">	
				{% for person in speaker %}	
				<li><a class="browse" href="">{{person.name}} </a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<script>
		function toggleAdvancedOptions() {
		  var advancedOptions = document.getElementById('advanced-options');
		  advancedOptions.style.display = (advancedOptions.style.display === 'none') ? 'block' : 'none';
		}
	</script>

{% endblock %}