{% load static %}
{% load custom_tags %}

<link rel="stylesheet" href="{% static 'browse/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tsuut'ina Language Resources</title>
	
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  

</head>
<body>
		<!--- Menu --->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"></a>
				<button class="navbar-toggler" type="button" hidden data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						{% block menu %}
						<li><a class="nav-link{% is_active request 'browse:about' %}" href="{% url 'browse:about' %}">About</a></li>
						<li><a class="nav-link{% is_active request 'search:home' %}" href="{% url 'search:home' %}">Search</a></li>
						<li><a class="nav-link{% is_active request 'search:results' %}" href="{% url 'search:results' %}">Results</a></li>
						<li><a class="nav-link{% is_active request 'browse:index' %}" href="{% url 'browse:index' %}">Browse</a></li>
						{% endblock %}
					</ul>
					<div class="nav navbar-nav navbar-right">
						<a class="nav-link" href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
					</div>
				</div>
			</div>
		</nav>
		<div class="wrapper">
			{% block sidebar %}
			<nav id="sidebar">
				<div class="sidebar-header">
				  <h3>Filter by</h3>
				</div>
				<ul class="list-unstyled components">
					<li>
						<a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">Collection</a>
						<ul class="list-unstyled collapse show" id="pageSubmenu1">
							{% for obj in filterCollection %}
							<li><a href=""><span class="fa fa-chevron-right mr-2"></span>{obj.name}</a></li>
							{% endfor %}
						</ul>
					</li>
				  	<li>
						<a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">Genre</a>
						<ul class="list-unstyled collapse show" id="pageSubmenu1" >
							{% for obj in filterGenre %}
							<li><a href=""><span class="fa fa-chevron-right mr-2"></span>{obj.name}</a></li>
							{% endfor %}
						</ul>
				  	</li>
				  	<li>
						<a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">Speaker</a>
				  		<ul class="list-unstyled collapse show" id="pageSubmenu1" >
							{% filterSpeaker %}
						</ul>
				  	</li>
					<li>
						<a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">Language</a>
				  		<ul class="list-unstyled collapse show" id="pageSubmenu1" >
							{% filterLanguage %}
						</ul>
				  	</li>
				</ul>
			</nav>
			{% endblock sidebar %}
			<div class="content">
			<h2>{% block title %}{% endblock %}</h2>
			{% block content %}
			{% endblock %}
			</div>
	</div>
</body>
<script>
$('#Head_1').collapse ('hide');
$('#Head_2').collapse ('show');
</script>