{% extends "browse/base.html" %}
{% load browse_tags %}
{% load qr_code %}
{% block title %}{{ object_list.0.session.title }}{% endblock %}
{%block content%}
	<div class="content">
			<div id="loaded_av">
				<img src="{% qr_url_from_data object_list.0.session.get_absolute_url size=2 version=None image_format='png' %}" alt="Current page" align="right">
				<div>	{{ object_list.0.session.synopsis }} </div>
				<h3>Material</h3>
				{% for object in object_list %}
				<div class="border-solid" id="av0">
				<h3><a href="{% url 'browse:detail' collection=object.session.collection session=object.session fileid=object.id %}"> 
					{{ object.name }}.{{ object.type }} </a></h3>
				<h4>Collection: <a href="{% url 'browse:collection' collection=object.session.collection %}"> {{ object.session.collection.title}} </a></h4>
                {% if object.type|is_audio_file %}
				<div class="av-item">
				<audio controls="" preload="metadata"><source src="{{ object.content.url }}"></audio>
				</div>
				{% endif %}
				</div>
				{% endfor %}
			</div>
	{% endblock %}
	<script>
		function toggleAdvancedOptions() {
		  var advancedOptions = document.getElementById('advanced-options');
		  advancedOptions.style.display = (advancedOptions.style.display === 'none') ? 'block' : 'none';
		}
	</script>
</html>
