{% extends "browse/base.html" %}

{% block title %}Browse By:{% endblock %}

{% block content %}
	<div class="container" id="wrappedcontainer">
		<div class="div1" id="wrapped">
		<h3> Collection </h3>
			<ul class="list-unstyled components">
				{% for object in object_list %}
				<li><button type="button" onclick="toggleAdvancedOptions()" class="toggle-button"> {{ object.title }} </button>
					<li id="advanced-options{{forloop.counter0}}">	{{object.synopsis}}	</li>
					<li><a href="{% url 'browse:collection' object.name %}"> Go to collection </a></li>
					<script>
						function toggleAdvancedOptions() {
						  var advancedOptions = document.getElementById('advanced-options{{forloop.counter0}}');
						  advancedOptions.style.display = (advancedOptions.style.display === 'none') ? 'block' : 'none';
						}
					</script>
					{% endfor %}
			</ul>
		</div>
		<div class="space"></div>
		<div class="div2" id="wrapped">
		<h3> Speaker </h3>
			<ul class="list-unstyled components">	
				{% for person in speaker %}	
				<li><a class="list" href="{% url 'search:results' %}?s={{ person.tier}}">{{person.name}} </a></li>
				{% endfor %}
			</ul>
		</div>
	</div>



{% endblock %}