{% extends "browse/base.html" %}
{% block title %}{{ object_list.0.parent.title }}{% endblock %}
{%block content%}
<div class="content" id="wrappedcontainer">
	<p> {{ object_list.0.parent.synopsis}} </p>
		<!-- Populate the search results dynamically -->
	<div>
		<h3>Sessions</h3>
			<div class="grid-container">
			{% for Classify in object_list %}
				<div class="grid-item">
				<h4><a href="{% url 'browse:session' collection=Classify.parent.name session=Classify.name %}"> {{ Classify.name }} </a></h4>
				</div>
				{% endfor %}
			</div>
	</div>
</div>
	{% endblock %}

	<script>
		function toggleAdvancedOptions() {
		  var advancedOptions = document.getElementById('advanced-options');
		  advancedOptions.style.display = (advancedOptions.style.display === 'none') ? 'block' : 'none';
		}
	</script>
</html>
