{% extends "browse/base.html" %}
{% load qr_code %}
{% block title %}{{ object_list.0.collection.title }}{% endblock %}
{%block content%}
	<div class="content">
		<div id="loaded_av">
			<div class="no-border">
			<img src="{% qr_url_from_data object_list.0.collection.get_absolute_url size=2 version=None image_format='png' %}" alt="Current page", align="right">
			<div> {{ object_list.0.collection.synopsis}} </div>
			</div>
			<h3>Sessions</h3>
			{% for obj in object_list %}
			<div class="border-solid" id="av0">
				<h3><a href="{% url 'browse:session' collection=obj.collection.name session=obj.name %}"> {{ obj.title }} </a></h3>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endblock %}

	<script>
		function toggleAdvancedOptions() {
		  var advancedOptions = document.getElementById('advanced-options');
		  advancedOptions.style.display = (advancedOptions.style.display === 'none') ? 'block' : 'none';
		}
	</script>
</html>
