{% extends "browse/base.html" %}
{% block sidebar %}{% endblock %}
	{% block content %}
	<div class="container-fluid">
	{% block title %}Search{% endblock %}	
        <form action="{% url 'search:results' %}" method="GET">
			  <input type="text" id="query" name="query" placeholder="Enter your search" required>
			  <br>
			  <button type="button" onclick="insertSpecialCh1()" class="specialc-button">ɫ</button>
			  <button type="button" onclick="insertSpecialCh2()" class="specialc-button">ʔ</button>
			  
			  <label for="language">Language:</label>
			  <label for="srs">
				<input type="radio" id="srs" name="language" value="srs">Tsuut'ina
			  </label>
			  <label for="eng">
				<input type="radio" id="eng" name="language" value="eng">English
			  </label>
			  <br>
			  
			  <button type="button" onclick="toggleAdvancedOptions()" class="advanced-search-button">Advanced search</button>
			  
			  <div id="advanced-options" class="advanced-options">
			  
				  <label for="speakers">Speakers:</label>
				  <select id="speakers" name="speakers[]" multiple size="5">
					<option value="speaker1">Speaker 1</option>
					<option value="speaker2">Speaker 2</option>
					<option value="speaker3">Speaker 3</option>
					<!-- Add more options as needed -->
				  </select>
				  
				  <label for="collection">Collection:</label>
				  <select id="collection" name="collection[]" multiple size="5">
					<option value="collection1">Collection 1</option>
					<option value="collection2">Collection 2</option>
					<option value="collection3">Collection 3</option>
					<!-- Add more options as needed -->
				  </select>
				  
				  <label for="where">Match with:</label>
				  <select id="where" name="where[]" multiple size="5">
					<option value="where1">Text</option>
					<option value="where2">Title</option>
					<option value="where3">Metadata</option>
					<!-- Add more options as needed -->
				  </select>
				  
				  <br>
				</div>
			  
			  <button type="submit">Search</button>
        </form>
	</div>
		{% endblock %}

  <script>
    function toggleAdvancedOptions() {
      var advancedOptions = document.getElementById('advanced-options');
      advancedOptions.style.display = (advancedOptions.style.display === 'none') ? 'block' : 'none';
    }
	  function insertSpecialCh1() {
    var queryInput = document.getElementById('query');
    queryInput.value += "ɫ";
  }
  	  function insertSpecialCh2() {
    var queryInput = document.getElementById('query');
    queryInput.value += "ʔ";
  }
  </script>

