{% extends "search/base.html" %}
{% load custom_tags %}
{% block sidebar %}{% endblock %}
{% block title %}Search{% endblock %}	
	{% block content %}
	<div class="container-fluid">
        <form action="{% url 'search:results' %}" method="GET">
			  <input type="text" id="q" name="q" placeholder="Enter your search" required>
			  <br>
			  <button type="button" onclick="insertSpecialCh1()" class="specialc-button">ɫ</button>
			  <button type="button" onclick="insertSpecialCh2()" class="specialc-button">ʔ</button>
			  
			  <label for="lang">Language:</label>
			  <label for="srs">
				<input type="radio" id="srs" name="lang" value="srs">Tsuut'ina
			  </label>
			  <label for="eng">
				<input type="radio" id="eng" name="lang" value="eng">English
			  </label>
			  <br>
			  
			  <button type="button" onclick="toggleAdvancedOptions()" class="advanced-search-button">Advanced search</button>
			  
			  <div id="advanced-options" class="advanced-options">
			  
				  <label for="s">Speakers:</label>
				  <select id="s" name="s" multiple size="5">
					{% filterSpeaker True %}
				</select>
				  
				  <label for="coll">Collection:</label>
				  <select id="coll" name="coll" multiple size="5">
					{% filterCollection True %}

				  </select>
				  
				  <label for="w">Match with:</label>
				  <select id="w" name="w" multiple size="5">
					<option value="text">Content</option>
					<option value="title">Title</option>
					<option value="metadata">Metadata</option>
				  </select>
				  
				  <br>
				</div>
			  
			  <button type="submit">Search</button>
        </form>
	</div>
	<script>
		function toggleAdvancedOptions() {
		  var advancedOptions = document.getElementById('advanced-options');
		  advancedOptions.style.display = (advancedOptions.style.display === 'none') ? 'block' : 'none';
		}
		  function insertSpecialCh1() {
		var queryInput = document.getElementById('q');
		queryInput.value += "ɫ";
	  }
			function insertSpecialCh2() {
		var queryInput = document.getElementById('q');
		queryInput.value += "ʔ";
	  }
	  </script>
		{% endblock %}



